<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="portNameForSending" value="COM1"/>
		<add key="portNameForReceiving" value="COM2"/>
		<add key="baudRate" value="9600" />
		<!--<add key="baudRateOptions" value="300, 600, 1200, 2400, 9600, 14400, 19200, 38400, 57600, 115200"/>-->
		<add key="bits" value="8"/>
		<add key="maxTries" value="20"/>
		
		<add key="configFolder" value="C:\data\FileTransfer\" />
		<add key="configFileSend" value="FileTransferSend.txt" />
		<add key="configFileReceive" value="FileTransferReceive.txt" />
		<add key="messageSuccess" value="FILE TRANSFER SUCCESSFUL" />
		<add key="messageFail" value="FILE TRANSFER FAILED" />
	</appSettings>
</configuration>