<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="bits" value="8"/>
		<add key="maxTries" value="20"/>
		
		<add key="configFolder" value="C:\data\FileTransfer\" />
		<add key="configFileSend" value="FileTransferSend.txt" />
		<add key="configFileReceive" value="FileTransferReceive.txt" />
		<add key="messageSuccess" value="FILE TRANSFER SUCCESSFUL" />
		<add key="messageFail" value="FILE TRANSFER FAILED" />
	</appSettings>
</configuration>